{{>/layout/header}}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

<body>
<form name="myform" id="myform">

    {{>/layout/nav}}
    <h4>책갈피 상세 보기</h4>
    <div class="col-md-12">
        <div class="col-md-4">
            <form>
                {{#board}}
                <div class="form-group">
                    <label for="id">번호</label>
                    <input type="number" class="form-control" id="id" value="{{boardNum}}" readonly>
                </div>
                <div class="form-group">
                    <label for="title">제목</label>
                    <input type="text" class="form-control" id="title" value="{{title}}">
                </div>
                <div class="form-group">
                    <label for="author">작성자</label>
                    <input type="text" class="form-control" id="author" value="{{creator}}" readonly>
                </div>
                <div class="form-group">
                    <label for="content">내용</label>
                    <textarea class="form-control" id="content">{{content}}</textarea>
                </div>
                {{/board}}
            </form>
            <a href="/board/list/0" role="button" class="btn btn-secondary">취소</a>
            <button type="button" class="btn btn-primary" id="btn-update">수정</button>
            <button type="button" class="btn btn-danger" id="btn-delete">삭제</button>
        </div>
    </div>
    <div class="row mt-3">
        <div class="col-md-12">
            <div class="col-md-4 ">
                <button class="btn btn-info  addReplyBtn">댓글 등록</button>
            </div>
            <ul class="list-group replyList">
            </ul>
        </div>
    </div>

    <div class="row mt-3">
        <div class="col-md-12">
            <div class="col-md-4 ">
                <table class="table table-hover ">
                    <thead>
                    <tr>
                        <th>번호</th>
                        <th>내용</th>
                        <th>작성자</th>
                        <th>작성시간</th>
                    </tr>
                    </thead>

                    <tbody>
                    {{#replyList}}
                    <tr>
                        <td>{{rplNum}}</td>
                        <td><a href="/replies/update/{{rplNum}}">{{rplContent}}</a></td>
                        <td>{{creator}}</td>
                        <td>{{crtTm}}</td>
                    </tr>
                    {{/replyList}}
                    </tbody>
                </table>
            </div>
        </div>
    </div>


    <div class="modal registerModal" tabindex="-1">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">댓글 등록</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="input-group mb-3">
                        <span class="input-group-text">내용</span>
                        <textarea class="form-control replyText" name="rplContent" id="rplContent"></textarea>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" id="replyBtn-save">등록</button>
                </div>
            </div>
        </div>
    </div>

    <!-- end regist modal -->

    <div class="modal modifyModal" tabindex="-1">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title replyHeader"></h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="input-group mb-3">
                        <span class="input-group-text">내용</span>
                        <input type="text" class="form-control modifyText">
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-info modifyBtn" id="replyBtn-update">수정</button>
                    <button type="button" class="btn btn-danger removeBtn" id="replyBtn-delete">삭제</button>
                    <button type="button" class="btn btn-outline-dark closeModifyBtn">취소</button>
                </div>
            </div>
        </div>
    </div> <!--modifyModal -->
</form>
</body>

<script src="/js/board.js"></script>
<script src="/js/reply.js"></script>
<script>
    $(document).ready(function () {
        $(".addReplyBtn").click(function () {
            $(".registerModal").modal("show");
        });
    });
    $(document).ready(function() {
        $('.comment-content').on('click', function() {
            let commentContent = $(this).text();
            let commentId = $(this).data('id');

            $('#rplContent').val(commentContent);
            $('#id').val(commentId);

            $('#replyModal').modal('show');
        });
    });
</script>
