{{>/layout/header}}
<body>
	<form id="galleryForm" name="galleryForm">
{{>/layout/nav}}
		<div>
			<div class="row mt-3">
				<div class="col">
					<div class="card">
						<div class="card-header">
							Board Register
						</div>
						<div class="card-body">
							<form action="/board/write" method="post">
								<div class="input-group mb-3">
									<span class="input-group-text">제목</span>
									<input type="text" class="form-control" id="bookTitle" name="bookTitle" placeholder="책의 제목을 입력해주세요.">
								</div>

								<div class="input-group mb-3">
									<span class="input-group-text">저자</span>
									<input type="text" class="form-control" id="bookAuthor" name="bookAuthor" placeholder="책의 저자를 입력해주세요."> <br />
								</div>

								<div class="input-group mb-3">
									<span class="input-group-text">출판사</span>
									<input type="text" class="form-control" id="bookPublisher" name="bookPublisher" placeholder="책의 출판사를 입력해주세요."> <br />
								</div>

								<label for="bookCoverImg" class="form-label me-2">표지 이미지</label>
								<div class="input-group mb-3">
									<input type="file" class="form-control" required accept=".jpg, .jpeg, .png" id="bookCoverImg" name="bookCoverImg"> <br />
								</div>

								<div class="my-4">
									<div class="float-end">
										<button type="button" class="btn btn-primary" id="btnGalleryRegister">등록</button>
										<button type="button" class="btn btn-secondary" id="btnCancel">취소</button>
									</div>
								</div>
							</form>
						</div><!--end card body-->

					</div><!--end card-->
				</div><!-- end col-->
			</div><!-- end row-->
		</div>
	</form>
</body>

</html>

<script src="/js/gallery.js"></script>