<!DOCTYPE html>
<html>
<head>
    <script src="/js/common.js"></script>
    <meta charset="utf-8">
    <title>Insert title here</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- CDN  서비스-->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>

</head>
<body>


<div class="container mt-3">
    <h1>회원가입</h1>

    <form id="myform" name="myform">
        <div class="input-group mb-3">
            <input type="text" class="form-control" placeholder="아이디" name="id" id="id">
            <div id="idcheck">

            </div>
            <div class="input-group-append">
                <button class="btn btn-success" type="button" id="btnIdcheck">중복체크</button>
            </div>

        </div>

        <div class="input-group mb-3">
            <input type="password" class="form-control" name="pw" id="pw" placeholder="패스워드">
        </div>

        <div class="input-group mb-3">
            <input type="password" class="form-control" name="pw2" id="pw2" placeholder="패스워드확인">
        </div>
        <div id="checkPassword">

        </div>

        <div class="input-group mb-3">
            <input type="text" class="form-control" placeholder="이름" name="name" id="name">
        </div>

        <div class="input-group mb-3">
            <input type="text" class="form-control" placeholder="email" name="email" id="email">
        </div>


        <!-- 다음 우편 api :주소체계 번지 -> 길  -->
        <div class="container" style="text-align:right">

            <div class="btn-group">

                <button type="button" class="btn btn-primary" id="btnRegister" )>등록</button>&nbsp;&nbsp;

                <button type="button" class="btn btn-primary" onclick="goCancel()">취소</button>&nbsp;&nbsp;
            </div>
        </div>
    </form>
</div>

</body>
</html>

<script>
    $(() => {
        $("#btnRegister").click(() => {
            $.ajax({
                url: "/user/register",
                data: {
                    id: $("#id").val(),
                    pw: $("#pw").val(),
                    name: $("#name").val(),
                    email: $("#email").val()
                },
                dataType: "json",
                method: "POST"
            })
                .done((res) => {
                    if (res.result == "success") {
                        location.href = "/user/login";
                    } else {
                    }
                })
                .fail((res, error, status) => {
                })
        });

        // 클릭 이벤트
        $("#btnIdcheck").click(() => {
            $("#idcheck").html("");
            // id 중복체크
            let user_id = $("#id").val();
            $.ajax({
                url: "/user/idcheck",
                data: {"id": user_id},
                dataType: "json",
                method: "get"
            }).done((res) => {
                const failMsg = " 이 아이디는 사용 불가능 합니다.";
                const successMsg = " 이 아이디는 사용 가능합니다.";
                if (res.result !== user_id) {
                    console.log(res.result);
                    $("#idcheck").html(user_id + successMsg);
                    //더이상 id 입력하지 못 하게
                    // attr() 메소드는 jquery 1에서 사용하던 것 prop() 메소드를 사용하자
                    $("#idcheck").prop("readonly", true); //disabled: 서버로 데이터가 전송되지 않는다. 사용에 주의
                    $("#btnIdcheck").prop("disabled", true); //버튼 요소와 같이 서버로 데이터를 보내지 않는 경우 disabled를 사용할 수 있다.

                } else {
                    $("#idcheck").html(user_id + failMsg);
                }
            }).fail((res, error, status) => {
                console.log(error);
            });
        })
    });
</script>