<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.project.readers.repository.AdminDAO">

	<select id="getFooter" parameterType="String" resultType="TagDTO">
		SELECT
				TAG_GROUP
				,TAG_CONTENT
		FROM
				TB_TAG
		WHERE
				TAG_GROUP = #{footer}

	</select>

</mapper>