<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.project.readers.repository.ChatMesgDAO">

    <insert id="insertChatMesg" parameterType="ChatMesgDTO">
        INSERT INTO
		        TB_CHATMESG
		        (
		        MESG_ID
		        ,CHAT_ROOM_ID
		        ,MESG_CONTENT
		        ,ID
		        ,SEND_TM
		        )
        VALUES
		        (
		        TB_CHATMESG_SEQ.NEXTVAL
		        ,#{chatRoomId}
		        ,#{mesgContent}
		        ,#{id}
		        SYSDATE
		        )
    </insert>

</mapper>