<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.project.readers.repository.GalleryDAO">

	<insert id="saveGallery" parameterType="GalleryDTO">
		insert into tb_gallery
		(
    		gallery_num
    		,cat_num
    		,title
    		,author
    		,publisher
    		,creator
		) values
		(
			TB_GALLERY_SEQ.nextval
			,#{catNum}
			,#{title}
			,#{author}
			,#{publisher}
			,#{creator}
		)
		<selectKey keyProperty="galleryNum" resultType="Long" order="AFTER">
    		SELECT TB_GALLERY_SEQ.currval FROM dual
    	</selectKey>
	</insert>
	
	<select id="getList" parameterType="GalleryDTO" resultType="GalleryDTO">
		select
			gallery_num
    		,cat_num
    		,title
    		,author
    		,publisher
    		,creator
    		,crt_tm
    	from 
    	(
	    	select 
	    		gallery_num
	  			,cat_num
	  			,title
	  			,author
	    		,publisher
	    		,creator
	    		,crt_tm
	    		,ceil(row_number() over(order by gallery_num desc)/8)-1 as pg
	    	from tb_gallery
        )
    	where pg = #{pg}
        order by
            crt_tm desc
	</select>

	<select id="getItem" parameterType="GalleryDTO" resultType="GalleryDTO">
		select
			gallery_num
    		,cat_num
    		,title
    		,author
    		,publisher
    		,creator
    		,crt_tm
    	from tb_gallery
    	where gallery_num = #{galleryNum}
	</select>
	
	<select id="getGalleryCount" resultType="Integer">
		select count(*) from tb_gallery
	</select>
	
	<select id="searchByTitle" parameterType="GalleryDTO" resultType="GalleryDTO">
		select 
			gallery_num
    		,cat_num
    		,title
    		,author
    		,publisher
    		,creator
    		,crt_tm
    	from 
    	(
	    	select 
	    		gallery_num
	  			,cat_num
	  			,title
	  			,author
	    		,publisher
	    		,creator
	    		,crt_tm
	    		,ceil(row_number() over(order by gallery_num desc)/10)-1 as pg
	    	from tb_gallery
	    	where title like '%' || #{searchKey} || '%'
        )
    	where pg = #{pg}
        order by
            crt_tm desc
	</select>
	
	<select id="searchByAuthor" parameterType="GalleryDTO" resultType="GalleryDTO">
		select 
			gallery_num
    		,cat_num
    		,title
    		,author
    		,publisher
    		,creator
    		,crt_tm
   		from 
    	(
	    	select 
	    		gallery_num
	  			,cat_num
	  			,title
	  			,author
	    		,publisher
	    		,creator
	    		,crt_tm
	    		,ceil(row_number() over(order by gallery_num desc)/10)-1 as pg
	    	from tb_gallery
	    	where author like '%' || #{searchKey} || '%'
        )
    	where pg = #{pg}
        order by
            crt_tm desc
	</select>
	
</mapper>